@import "tailwindcss";

@theme {
  --color-obsidian: #08090D;
  --color-darkVoid: #101318;
  --color-deepSlate: #181C28;
  --color-subtleBorder: #242A3E;
  --color-electricCyan: #00F0FF;
  --color-terminalLime: #108981;
  --color-pureSnow: #F8FAFC;
  --color-techMuted: #94A3B8;

  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--color-obsidian);
  color: var(--color-pureSnow);
  font-family: var(--font-body);
}